body{
    background-color:#ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    width: 100%;
    padding: 0px;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
  }

a{
	text-decoration: none;
}
nav {
	width: 100%;
	height: 56px;
	background-color: #ffffff;
	box-shadow: 1px 1px 2px #e2d9d9;
	display: flex;
    margin-bottom: 10px;
}

.logo_menu {
	height: inherit;
	width: 20%;
	padding-left: 25px;
	display: flex;
}

.logo_menu i {
		margin-right: 24px;
		font-size: 21px;
		 margin-top: 18px;
		 color: #949090;
		 height: 12px;
}

.logo_menu i:hover {
	background-color: #eeeeee;
}

.logo_menu img {
	width: 80px;
	height: auto;
}

.search_box {
	display: flex;
	    padding-top: 13px;
	    width: 47%;
}

.search_box input {
	width: 80%;
	height: 27px;
}

.search_box button {
	height: 33px;
	width: 65px;
	text-align: center;
	color: #9c9696;
	padding: 8px 0px 0px 0px;
	border-color: #cac4c4a3;
    border-radius: 1px;
    border-left-color: transparent;
    background-color: white;
}

.search_box button:hover {
	background-color: #eeeeee;
}

.search_box i {
	    padding-bottom: 6px;
}

.navbar_buttons {
	margin-left: 52px;
    padding-top: 8px;
}

.navbar_button {
	margin-left: 15px;
	background-color: transparent;
	border-color: transparent;
	height:auto;
	width: auto;
	font-size: larger;
}

.navbar_button:nth-of-type(5) {
	font-size: xx-large;
}
.container{
    margin: 5px 50px;
}

.navbar_button i{
	color:#4e4a4a;
}

.navbar_button:hover {
	background-color: #eeeeee;
}

section{
    color: #000000;
    text-align: center;
    width: 60%;
    margin-top:24px;
}

aside{
    width: 35%;
    background-color: #ffffff;
    height: 500px;
    padding: 10px;
    align-content: center;
    text-align: center;
}
aside img{
    width: 100%;
}

.video{
    width: 100%;
	text-align: left;
	display: block;
}

.video img{
	width: 40%;
}

.video p{
	width: 55%;
}

.video a p{
	color: #000000;
	font-size: 0.8em;
	margin-top: -3px;
}

.border-bottom{
border-bottom: #929292 solid 1px;
margin-bottom: 5px;
}
.btn {
    height: 40px;
    border-radius: 3px;
	text-transform: uppercase;
	font-weight: 300;
}

.show-more{
	width: 100%;
	    border-color: transparent;
}

.d-head{
	display: inline-block;
}
.upnext{
    height: 40px;
    color: #5d5b5b;
}

.upnext a {
	color: #5d5b5b;
}

.left{
    float: left;
}

.right{
    float: right;
}

.title{
    text-align: left;
      padding-top: 14px;
}

.title h6  {
	font-weight: 700;
	color: black;
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	font-size: medium;
	margin-bottom: 15px;
}
.description{
	padding-top: 20px;
    border-top: #cabebe solid 1px;
     border-bottom: #cabebe solid 1px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    height: 175px;
    margin-top: 20px
}
.views{
    text-align: left;
     color: #5d5b5b;

}
.description-text{
    margin: 0 10px;
    font-size: 0.9em;
        margin-left: 55px;
}

.description-text a {
	color: #5d5b5b;
}

.description-text a:hover {
	color: black;
}

.subscribe-row {
	display: flex;
}

.channel-image {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: red;
}

.user-image img{
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: red;
}
.channel-name {
	width: 60%;
	height: 48px;
	padding-left: 15px; 
}

.channel-image img {
	    width: inherit;
}
.channel-name p:nth-of-type(1){
	font-size: small;
    margin-bottom: 0px;
    margin-top: 6px;
        font-weight: 700;
}

.channel-name p:nth-of-type(2){
	font-size: smaller;
	margin-top: 6px;
}

.subscribe-space button {
	background-color: red;
	color: #ffffff;
	width: 143px;
	height: 37px;
	margin-top: 7px;
	border-color: transparent;
}

.subscribe-space i {
	font-size: x-large;
}

.comment-space{
	text-align: left;
	width: 100%;
	height: 80px;
}

.comment-head{
	font-size: 0.8em;
	font-weight: bold;
	text-align: left !important;
}
.comment-count{
	margin-right: 100px;
}

.auth-user .channel-image {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		background-color: rgb(0, 26, 255);
		display: inline-block;	
		margin-right: 20px;
}
.user-desc{
	color: rgb(56, 54, 54);
	font-size: 0.9em;
	    margin-left: 30px;
}

.comment-box {
	width: 100%;
	height: auto;
	display: flex;
}

.comment-box p:nth-of-type(1) {
	font-family: 'Roboto', sans-serif;
	margin: 0px 0px 0 30px;
    font-size: small;
    text-align: left;
}

.comment-box p:nth-of-type(2) {
	font-family: 'Roboto', sans-serif;
	font-size: small;
    margin: 5px 0px 0 30px;
    text-align: left;
}

.user-rating {
	display: flex;
	margin-top: 15px;
	color: rgb(144, 144, 144);
	    margin-bottom: 40px;
}

.user-rating span {
	font-size: small;
    margin-left: 12px;
}
.rating_icon {
	margin-left:30px;
}


@media only screen and (max-width: 1108px) {
	.search_box  {
	width: 41%;
}


.navbar_button {
	margin-left: 8px;
	
}

aside {
	display: none;
}

section {
	width: 100%;
}

.embed {
	width: 100%;
}
}
 
@media only screen and (max-width: 850px) {
	.navbar_button {
		display: none;
	}

	.navbar_button:nth-of-type(5) {
		display: initial;
	}

	.logo_menu i {
		display: none;
	}

	.search_box  {
		width: 50%
	}

	.subscribe-space i {
		display: none;
	}

	.description {
		height: 240px;
	}
}