body{
    background-color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
}

section{
    color: #000000;
    text-align: center;
    float: left;
    width: 60%;
}

aside{
    float: left;
    width: 30%;
    background-color: rosybrown;
    height: 500px;
    padding: 10px;
    align-content: center;
    text-align: center;
}

.video{
    width: 90px;
    height: 50px;
    background-color: red;
}