body{
    background-color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    width: 100%;
    padding: 0px;
}

nav {
	width: 100%;
	height: 56px;
	background-color: #ffffff;
	box-shadow: 1px 1px 2px #e2d9d9;
	display: flex;
    margin-bottom: 10px;
}

.logo_menu {
	height: inherit;
	width: 20%;
	padding-left: 25px;
}

.logo_menu i {
		margin-right: 24px;
		font-size: 21px;
}

.logo_menu img {
	width: 80px;
	height: auto;
}

.search_box {
	display: flex;
	    padding-top: 13px;
}

.search_box input {
	width: 575px;
	height: 32px;
}

.search_box button, i {
	height: 32px;
	width: 65px;
	text-align: center;
	color: #9c9696;
}


.navbar_buttons {
	margin-left: 70px;
	    padding-top: 13px;
}

.navbar_button {
	margin-left: 30px;
	background-color: transparent;
	border-color: transparent;
	height: 32px;
	width: 12px;
	font-size: larger;
}

.navbar_button i{
	color:#4e4a4a;
}

section{
    color: #000000;
    text-align: center;
    width: 60%;
}

aside{
    float: left;
    width: 30%;
    background-color: #ffffff;
    height: 500px;
    padding: 10px;
    align-content: center;
    text-align: center;
}

.video{
    width: 100%;
    height: 150px;
}
.upnext{
    height: 40px;
}
.left{
    float: left;
}

.right{
    float: right;
}
